<?xml version="1.0" encoding="UTF-8"?>
<!-- monitorInterval : 로그 유지 날짜(ex: 30 - 30일동안만 로그 유지) -->
<Configuration monitorInterval="30">
    <Properties>
        <Property name="LOG_FORMAT">%d{yyyy-MMM-dd HH:mm:ss a} [%t] %-5level %logger{36} - %msg%n</Property>
        <Property name="BASE_DIR">logs/app.log</Property>
    </Properties>

    <Appenders>
        <!-- Console Appender -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${LOG_FORMAT}" />
        </Console>
        <!-- File Appender -->
        <File name="File" fileName="${BASE_DIR}">
            <PatternLayout pattern="${LOG_FORMAT}" />
        </File>

    </Appenders>

    <Loggers>
        <!-- Log everything in custom package -->
        <Logger name="spring.boot.log4j2.demo" level="debug" additivity="false">
            <AppenderRef ref="Console" />
            <AppenderRef ref="File" />
        </Logger>

        <!-- Log everything in Spring Boot -->
        <Logger name="org.springframework.boot" level="debug" additivity="false">
            <AppenderRef ref="Console" />
            <AppenderRef ref="File" />
        </Logger>

        <!-- Log everything in Spring Core -->
        <Logger name="org.springframework.core" level="debug" additivity="false">
            <AppenderRef ref="Console" />
            <AppenderRef ref="File" />
        </Logger>

        <Root level="error">
            <AppenderRef ref="Console" />
            <AppenderRef ref="File" />
        </Root>

    </Loggers>
</Configuration>